---
import TopPageBanner from '@/components/TopPageBanner-2.astro';
import Layout from '@/layouts/Layout.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>   
  <SEOMeta 
    slot="head"
    title="Data Security, Retention, and Backup Policy | Phaeno"
    description="Read Phaeno's data policies."
    documentType="Web Page"
  />    
  <main>
    <TopPageBanner title="Phaeno Data Policies" />    
    <section>
      <p>If you would like to learn about the <b><i>Phaeno data security, retention, and backup policies</i></b>, please contact your account representative or contact us at <a href="mailto:info@phaenobiotech.com">info@phaenobiotech.com</a>.</p>
    </section>
  </main>
</Layout>