---
import { Content } from '@/content/data.md';
import TopPageBanner from '@/components/TopPageBanner-2.astro';
import Layout from '@/layouts/Layout.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>   
  <SEOMeta 
    slot="head"
    title="Data Security, Retention, and Backup Policy | Phaeno"
    description="Read Phaeno's data policies."
    documentType="Web Page"
  />    
  <main>
    <TopPageBanner title="Phaeno Data Security, Retention, and Backup Policies" />    
    <section>
      <Content />
    </section>
  </main>
</Layout>