---
import Layout from '@/layouts/Layout.astro';
import { Content } from '@/content/privacy.md';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Privacy Policies | Phaeno"
    description="Read Phaeno's privacy policies."
  />    
  <main>
    <section>
      <h1>Privacy policy</h1>
      <Content />
    </section>
  </main>
</Layout>