---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import MediaCard from '@/components/MediaCard.astro'
import MediaCardCollection from '@/components/MediaCardCollection.astro'
import RSSFeed from '@/components/RSSFeed.astro'
import TopPageBanner from '@/components/TopPageBanner-1.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro'

const papers = await getCollection('blog')
---

<title>Blog | Phaeno</title>
<meta name="description" content="Stay up to date with the latest news, breakthroughs, and company updates from the team at Phaeno." />

<Layout>
  <SEOMeta 
    slot="head"
    title="Our Blog | Phaeno"
    description="Learn about Phaeno's mission to transform molecular diagnostics through innovative RNA sequencing technology and expert leadership."
    documentType="List"
  />  
  <main>
    <TopPageBanner title="Phaeno Blog" />
    <section>
    <div class="mb-2 flex justify-end">
      <RSSFeed feedName="blog.xml"/>
    </div>
    <input
      id="mediaSearch"
      class="mb-6"
      type="text"
      placeholder="Search title or author"
      class="w-full"
    />
    <MediaCardCollection>
      {papers.map(paper => (
        <MediaCard
          searchString={`${paper.data.title} ${paper.data.authors.join(' ')}`.toLowerCase()}        
          title={paper.data.title} 
          image={paper.data.image} 
          link={`/media/blog/${paper.slug}`}
        >
          <div>{paper.data.authors.join(', ')}</div>
          <div>{new Date(paper.data.date).toLocaleDateString('en-US')}</div>
        </MediaCard>
      ))}      
    </MediaCardCollection>     
    </section>
  </main>
</Layout>