---
import { getCollection } from 'astro:content'
import { FaCaretRight } from 'react-icons/fa6'
import Layout from '@/layouts/Layout.astro'
import RSSFeed from '@/components/RSSFeed.astro'
import TopPageBanner from '@/components/TopPageBanner-2.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';

const press = await getCollection('press')
---

<title>Press Releases | Phaeno</title>
<meta name="description" content="Phaeno is revolutionizing RNA sequencing with full-length, high-fidelity reads. Discover our platform and team." />

<Layout>
  <SEOMeta 
    slot="head"
    title="Press Releases | Phaeno"
    description="Learn about Phaeno's mission to transform molecular diagnostics through innovative RNA sequencing technology and expert leadership."
    documentType="List"
  />  
  <main>
    <TopPageBanner title="Press Releases" />
    <section>
      <div class="mb-2 flex justify-end">
        <RSSFeed feedName="press.xml"/>
      </div>
      <input
        id="mediaSearch"
        class="mb-6"
        type="text"
        placeholder="Search title"
        class="w-full"
      />

      <ul 
        id="mediaList"
        class="ml-0" 
      >
        {press.map(item => (
          <li 
            class="media-card-item"
            data-search={`${item.data.title}`.toLowerCase()}           
          > 
            <div class="flex items-center gap-4 ml-[-1rem]">
              <div style="color: #7F943A;"><FaCaretRight size={50}/></div>
              <div>
                <a href={`/media/press-releases/${item.slug}`}><h2 class="text-2xl m-0 p-0">{item.data.title}</h2></a>
                <div>{new Date(item.data.date).toLocaleDateString('en-US')}</div>
              </div>
            </div>       
          </li>
        ))}
      </ul>          
    </section>
  </main>
</Layout>

<style>
  ul {
    list-style: none;
  }

  li {
    padding: 10px 0;
    border-bottom: 1px rgba(128, 128, 128, 0.123) solid; 
  }

  ul li:last-child {
    border-bottom: none;
  }

  a {
    font-size: 1.5rem;
  }
</style>