---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import TopPageBanner from '@/components/TopPageBanner-2.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import HorizonalList from '@/components/HorizontalList.astro';
import HorizonalListItem from '@/components/HorizontalListItem.astro';
import Workflow from '@/components/workflow/Workflow.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Technology | Phaeno"
    description="Explore Phaeno's technology and how we are usng chemistry and software to change transcriptome sequencing."
    documentType="Web Page"
  />  
  <main id="main" tabindex="-1">
    <TopPageBanner title="PSeq Technology" />
    <section>
      <h2>Introducing Pseq - a new category of sequencing technology.</h2>
      <h3>Phaeno has invented a new class of sequencing technology, designed to deliver on the promises of the genomic revolution.</h3>
      <br /><br />
      <div class="flex justify-center">
        <div class="phased-sequencing-large">
          <Image        
            height={20} 
            width={100}
            style="width: 100%; max-width: 50rem" 
            src="/images/phased-sequencing-large.webp" 
            alt="phased sequencing - new category of seqeuncing" 
          />
        </div>
        <div class="phased-sequencing-compact">
          <Image        
            height={20} 
            width={100}
            style="width: 100%; max-width: 50rem" 
            src="/images/phased-sequencing-compact.webp" 
            alt="phased sequencing - new category of seqeuncing" 
          />
        </div>        
      </div>    
      <h2>How PSeq technology works</h2>
      <h3>New Insights in Chemistry</h3>
      <p>
        RNAs are heterogeneous informational macromolecules, each molecule harboring a distinct bundle of genetic information. 
        Classical solution chemistry cannot retrieve the information for every individual molecule in solution.
      </p>
      <p>
        Phaeno PSeq chemistry sequences each individual molecule in a sample, end-to-end, as though it is a small genome, 
        a form of shotgun sequencing. Each molecule is sequenced individually, but on a scale approaching that of classical 
        solution chemistry (&gt;fmol). Data files compile information about the chemistry experienced by each molecule 
        comprising the DNA sequencing library.
      </p>

      <h3>PSeq Chemistry & Software</h3>
      <p>
        PSeq DNA sequencing libraries are mate pair fragments used in conventional paired-end sequencing on existing NGS
        sequencers. The computational pipeline for data assembly avoids reliance on statistical algorithms, data
        segmentation and reprocessing, or prior information.
      </p>
      <HorizonalList columns={[1, 2, 2, 2]}>
        <HorizonalListItem>
          Each molecule is reverse transcribed with a multifunctional tagging reagent with up to 4.3T alternative barcodes, 
          RNA strand-sense discriminators, sequencing landmarks and domains guiding positional labeling.
        </HorizonalListItem>
        <HorizonalListItem>
          Each molecule is converted to DNA sequencing libraries with reactions confined to intramolecular rearrangements, 
          replicating the source-molecule specific barcode at the beginning of the first read of every random-fragment paired end.
        </HorizonalListItem>
        <HorizonalListItem>
          Standard FASTA files derived from the sequencer are processed by the automated pipeline to assemble the 
          RNAs identified by unique barcode, as a continuous sequence, with details visualized with a ‘gene’ viewer, 
          browsers and open-source tools.          
        </HorizonalListItem>
        <HorizonalListItem>
          Companion tools can retrieve individual molecules, discovered by sequencing, cloned for biobanking cDNA, 
          producing RNA or crystallography-grade protein.
        </HorizonalListItem>                        
      </HorizonalList>
      <p>
        PSeq long-read sequencing runs on unmodified NGS sequencers now widely in service, eliminating the need to purchase 
        specialized Third Generation instruments and robotics, or hire highly specialized staff training.
      </p>
      <h4>PSeq Workflow</h4>
      <p>
        Phaeno PSeq phased long-read technology is easy to use and easily fits into existing workflows.
      </p>
      <br />
      <Workflow /> 
      <div class="grid grid-cols-1 md:grid-cols-3 gap-1 mt-4">
        <div style="background-color: #D6E3C3" class="work-flow-description">
          <h4><i>apply</i>: <span class="uppercase font-bold">PSEQ Chemistry</span></h4>
          <p>
            Our sample preparation protocol consists of five steps. No special training order sample handling skills are required to prepare PSeq libraries.
          </p>          
          <ul class="ul-no-bullets text-[.9rem]">
            <li>
              <Image alt="step 1" height={35} width={35} src="/images/step-1.webp" />
              <span><b>Molecular tagging</b>: reverse transcription molecular tagging with individual barcodes and strand discriminators.</span>
            </li>
            <li>
              <Image alt="step 3" height={35} width={35} src="/images/step-2.webp" />
              <span><b>Isothermal amplification</b>: PCR-free amplification.</span>
            </li>
            <li>
              <Image alt="step 4" height={35} width={35} src="/images/step-3.webp" />
              <span><b>Intermolecular UMI (tag) redistribution</b>: intramolecular relocation of SMIDS to the beginning of read 1 of mate-pair DNA sequencing libraries for conventional NGS paired-end sequencing.</span>
            </li>
            <li>
              <Image alt="step 5" height={35} width={35} src="/images/step-4.webp" />
              <span><b>Companion tools</b>: retrieval of individual, barcode identified molecules, discovered by sequencing.</span>
            </li>
          </ul>
        </div>
        <div style="background-color: #cedde4" class="work-flow-description">
          <h4><i>execute</i>: <span class="uppercase font-bold">PSeq Software Stack</span></h4>
          <p>
            Phaeno's fully-automated pipeline enables direct, rapid data assembly, avoiding many computationally expensive complexities, simplified by our chemistry.
          </p>
          <ul class="ul-no-bullets text-[.9rem]">
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Fully automated compute; data polishing unnecessary.</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>No use of priors or statistical algorithms.</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Includes <i>in silico</i> tools for generating AI/ML training sets.</span>
            </li>
          </ul>
        </div>
        <div style="background-color: #F2F2F2" class="work-flow-description">
          <h4><i>deliver</i>: <span class="uppercase font-bold">Isoform Resolved Insights</span></h4>
          <p>
            Detailed data at the individual molucule level. How you want it.
          </p>
          <ul class="ul-no-bullets text-[.9rem]">
            <li>            
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Data consolidation for low-cost transmission, and optimized for ML.</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>ORF-constitutive and alternative protein-coding exons</span>
            </li>
            <li>              
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Alternative translation initiation sites</span>
            </li>
            <li>              
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Alternative polyadenylation (chain termination) sites</span>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>RNA trafficking “zip” codes</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Destination-specific sequences for translation activation pathways</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Metabolite responsive riboswitches</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Intramolecularly directed ribozymes</span>
            </li>
            <li>
              <Image alt="bullet point" height={35} width={35} src="/images/blue-right-arrow.webp" />
              <span>Multiple consensus domains for local, alternative RNA degradation pathways</span>
            </li>
          </ul>
        </div>        
      </div>
      <br />
      <h3>Rapid Computation</h3>
      <p>
        Phaeno highly scalable automated software pipeline assembles each molecular record (tens of millions) avoiding
        statistical algorithms or reliance on ‘prior information’ about an RNA sample.
      </p>

      <h3>Flexible User Database</h3>

      <p>
        All records, from raw data through compiles transcriptomes available in a relational database adapted for easy integration 
        with custom or commercial software, browsers and analytics.
      </p>
      <p>
        Individual RNAs are reverse transcribed with multifunctional tagging reagents with up to 4.3T barcodes and
        converted into DNA libraries comprising random fragments from throughout the cDNA replicas. In these libraries,
        the individual bar-code is replicated on each fragment, identify the source RNA molecule in the sample.
      </p>
      <p>
        Following NGS paired end sequencing, the barcode identifying each NGS fragment is positioned at the beginning of
        read 1, followed by sequences of random internal portions of the molecule.
      </p>

      <h3>Immediate Follow up</h3>
      <p>
        Having discovered new molecules in an experimental, Phaeno companion tools allow the investigator to directly
        clone any molecule of interest, for biobanking, expression as RNA (e.g., to prepare a vaccine), or as
        crystallography grade protein.
      </p>      
      <br />
      <br />
    </section>
  </main>
</Layout>

<style lang="scss">
.work-flow-description {
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 9px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.ul-no-bullets {
  list-style: none;
  margin-left: 0;
  margin-top: 20px;
}

ul.ul-no-bullets > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-ml-container {
  padding-left: 56px;
}

.phased-sequencing-large {
  display: block;
}

.phased-sequencing-compact {
  display: none;
}

@media (max-width:  725px) {
  .phased-sequencing-large {
    display: none;
  }
  .phased-sequencing-compact {
    display: block;
  }

  .info-ml-container {
    padding-left: 5px;
    padding-top: .5rem;;
  }
}
</style>