---
import Layout from '@/layouts/Layout.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import ContactForm from '@/components/ContactForm';
import OrderForm from '@/components/OrderForm'
// import SocialMedia from '@/components/SocialMedia.astro';
// import ScheduleMeeting from '@/components/ScheduleMeeting.astro';
import TopPageBanner from '@/components/TopPageBanner-3.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Contact Us | Phaeno"
    description="Phaeno is revolutionizing RNA sequencing with full-length, high-fidelity reads. Discover our platform and team."
    documentType="Web Page"
  />  
  <main id="main" tabindex="-1">
    <TopPageBanner title="Contact Us" />
    <section>
      <h2 id="contact-details" data-phaeno-search="Contact Details">Contact Details</h2>
      <div class="contact-details-container">
        <div class="flex flex-col gap-1.5">
          <h3 class="p-0 text-[1.1rem]">Street Address</h3>
          <div class="text-black text-sm">5270 California Avenue<br />Suite 300<br />Irvine, CA 92617</div>
        </div>
        <div class="flex flex-col gap-1.5">
          <h3 class="p-0 text-[1.1rem]">Get in Touch</h3>
          <!-- <div class="text-sm"><a href="tel:+1-###-###-####">+1-###-###-####</a></div>
          <div class="text-sm"><a href="mailto:sales@phenobiotech.com">sales@phaenobiotech.com</a></div> -->
          <div class="text-sm"><a href="mailto:info@phenobiotech.com">info@phaenobiotech.com</a></div>
          <!-- <div class="text-sm mb-1"><a href="mailto:info@phenobiotech.com">investors@phaenobiotech.com</a></div> -->
          <!-- <ScheduleMeeting /> -->
        </div>
        <!-- <div>
          <h3 class="p-0 text-[1.1rem] mb-1">Stay In Touch</h3>
          <SocialMedia size="lg" />
        </div> -->
      </div>
      <br />
      <h2 id="sign-up" data-phaeno-search="Sign-up for updates" class="mt-5">Sign-up for updates</h2>
      <p>Sign-up to receive period updates on the company. You can unsubscribe at any time.</p>
      <ContactForm client:load />
      {(import.meta.env.PUBLIC_HIDE_PSEQ_AVAIL_NOW === "false") && (
        <>
          <h2 id="place-order" data-phaeno-search="Place Order Inquiry" class="mt-5">Place Order Inquiry</h2>
          <p>A Phaeno scientist will be in contact with you to discuss your sequencing needs.</p>
          <OrderForm client:load />
        </>
      )}
      <br />
    </section>
  </main>
</Layout>

<style>
.contact-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: start;
  margin-top: 1rem;
}

.font-bold {
  font-weight: 700;
}

.input-container {
  margin-bottom: 8px;
}

@media (max-width: 725px) {
	.contact-details-container {
    flex-direction: column;
    gap: 2rem;
    height: 300px;
    margin-bottom: 5rem;
	}
}
</style>
