---
import SEOMeta from "@/components/meta-data-helpers/SEOMeta.astro";
import TopPageBanner from "@/components/TopPageBanner-2.astro";
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Place Order | Phaeno"
    description="Place a PSeq RUO order."
    documentType="Web Page"
  />  
  <main>
    <TopPageBanner title="Place Order" />
    <section>
      <p class="p-0 m-0"><a href="/#why-pseq">Home | </a>Why PSeq?</p>
      <h2 id="ruo-order" data-phaeno-search="Place PSeq RUO Order">Place PSeq RUO Order</h2>
      <div>SOMETHING HERE</div>
    </section>
  </main>
</Layout>