---
import Layout from '@/layouts/Layout.astro';
import Tagline from '@/components/home-page-sections/Tagline.astro';
import WhyPseq from '@/components/home-page-sections/Why-PSeq.astro';
import PSeq from '@/components/home-page-sections/Phaeno-PSeq.astro';
import Applications from '@/components/home-page-sections/Applications.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Home | Phaeno"
    description="Phaeno is revolutionizing RNA sequencing with full-length, high-fidelity reads. Discover our platform and team."
    documentType="Web Page"
  />  
  <Tagline />
  <main class="main-fix" id="main" tabindex="-1">
    <PSeq />
    <WhyPseq />
    <Applications />
    <br />
  </main>
</Layout> 

<style>
  .main-fix {
    margin-top: -6.5rem;
  }

  @media (max-width:  725px) {
    .main-fix {
      margin-top: -3.5rem;
    }    
  }
</style>
  