---
import Layout from '@/layouts/Layout.astro'
import Tagline from '@/components/home-page-sections/Tagline.astro'
import Problem from '@/components/home-page-sections/Stalled-Genomic-Revolution.astro'
import CentralDogma from '@/components/home-page-sections/Problem.astro'
import PSeq from '@/components/home-page-sections/Phaeno-PSeq.astro'
import Applications from '@/components/home-page-sections/Applications.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro'
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Home | Phaeno"
    description="Phaeno is revolutionizing RNA sequencing with full-length, high-fidelity reads. Discover our platform and team."
    documentType="Web Page"
  />  
  <!-- <Tagline tagline="Precision technology for precision medicine" subline="Full-length transcriptomes on NGS" /> -->
  <Tagline />
  <main class="main-fix" id="main" tabindex="-1">
    <PSeq />
    <CentralDogma />
    <Applications />
    <br />
    <br />
    <br />
    <!-- <hr class="my-10 w-full" />
    <h4 class="bg-white mt-[-4.1rem] px-5">Legacy Material</h4>
    <Problem /> -->
  </main>
</Layout> 

<style>
  .main-fix {
    margin-top: -6.5rem;
  }

  @media (max-width:  725px) {
    .main-fix {
      margin-top: -3.5rem;
    }    
  }
</style>
  