---
import { Image } from 'astro:assets';
import CalloutBox from '@/components/CalloutBox.astro'
import LearnMoreButton from '../LearnMoreButton.astro'
import HorizonalList from '@/components/HorizontalList.astro';
import HorizonalListItem from '@/components/HorizontalListItem.astro';
import PSeqVsRNASeq from '@/components/PSeqVsRNASeq.astro';
---
<section class="mt-3 mb-5">
  <h3 id="introducing-pseq" data-phaeno-search="Introducing PSeq RUO Service">
    Introducing Phaeno's PSeq<sup class="text-[0.6em] relative -top-3">™</sup> research use only (RUO) Service
  </h3>
  <br />
  <div>
    <CalloutBox 
      bgColor="#545458" 
    >
      <h3 class="text-white text-center">
        Phaeno has developed a best-in-class RNA long-read sequencing technology that resolves individual RNAs, called PSeq.
      </h3>            
    </CalloutBox>    
    <br />
    <p>Phaeno ‘phased RNA sequencing’ is shotgun sequencing Next Generation technology that bypasses Third Generation engineering to assemble full-length individual molecules accurately, on the scale of solution chemistry.</p>
    <br />
    <PSeqVsRNASeq />
    <br />
    <h4 id="trove-of-info-ml" data-phaeno-search="PSeq provides a trove of information for ML">
      Analysis by PSeq provides a trove of information available for machine learning, in four dimensions.
    </h4>      
    <HorizonalList columns={[1, 1, 2, 2]}>
      <HorizonalListItem>
        <div class="flex items-center gap-2">
          <Image alt="first" height={45} width={45} src="/images/step-1.webp" />
          <div class="text-lg"><b>Scale</b></div>
        </div>
        <div class="info-ml-container">
          From single-cell to bulk RNAs (10<sup>4</sup> to &gt; 10<sup>9</sup> molecules) – diagnostic biomarkers, drug targets, neoantigens for immune therapies.          
        </div>          
      </HorizonalListItem>
      <HorizonalListItem>
        <div class="flex items-center gap-2">
          <Image alt="second" height={45} width={45} src="/images/step-2.webp" />
          <div class="text-lg"><b>Depth</b></div>
        </div>
        <div class="info-ml-container">
          A measure of how far into an RNA population a technology penetrates without missing rare isoforms or producing false-positives 
          – orders of magnitude in copy number abundance.
        </div>          
      </HorizonalListItem>
      <HorizonalListItem>
        <div class="flex items-center gap-2">
          <Image alt="third" height={45} width={45} src="/images/step-3.webp" />
          <div class="text-lg"><b>Breadth</b></div>
        </div>
        <div class="info-ml-container">
          Linear combinations of information (“phased”) in individual RNAs, including coding sequences of protein isoforms, transcript 
          specific RNA trafficking codes, metabolite-sensing riboswitches, ribozymes, pathway-dependent transcript activation and degradation, 
          and pointers for isoform-specific gene protomers, silencers and enhancers.             
        </div>
      </HorizonalListItem>
      <HorizonalListItem>
        <div class="flex items-center gap-2">
          <Image alt="fourth" height={45} width={45} src="/images/step-4.webp" />
          <div class="text-lg"><b>“Recursion”</b></div>
        </div>
        <div class="info-ml-container">
          Mutual information, as in the correspondence in splice variants of transcription factors and down-stream gene-specific, splice 
          variant specific alternative transcription; concerted protein-domain recombination in multi-subunit enzymes; cell-specific ribosomal 
          differentiation of alternative translation of protein-coding messenger RNAs.  
        </div>          
      </HorizonalListItem>
    </HorizonalList>
    <h4 id="available-information" data-phaeno-search="Pseq - available information">
      Available information
    </h4>
    <HorizonalList columns={[1, 2, 2, 4]}>
      <HorizonalListItem>ORF-constitutive and alternative protein-coding exons</HorizonalListItem>
      <HorizonalListItem>Alternative translation initiation sites</HorizonalListItem>
      <HorizonalListItem>Alternative polyadenylation (chain termination) sites</HorizonalListItem>
      <HorizonalListItem>RNA trafficking “zip” codes</HorizonalListItem>
      <HorizonalListItem>Destination-specific sequences for translation activation pathways</HorizonalListItem>
      <HorizonalListItem>Metabolite responsive riboswitches</HorizonalListItem>
      <HorizonalListItem>Intramolecularly directed ribozymes</HorizonalListItem>
      <HorizonalListItem>Multiple consensus domains for local, alternative RNA degradation pathways</HorizonalListItem>
    </HorizonalList>
    <br />    
  </div>
  <LearnMoreButton 
  link="/technology"
  ariaLabel="Learn more about Phaeno's technology and how it addess the shortcoming of genomic analysis" 
  />    

  {(import.meta.env.PUBLIC_HIDE_PSEQ_AVAIL_NOW === "false") && (
    <br />
    <CalloutBox bgColor="var(--home-available-now-bg)">
      <h3 class="mb-3">
        <b>PSeq is available now</b>
      </h3>
      <div class="text-black font-bold text-lg mb-1">Service Includes:</div>
      <ul class="service-includes gap-2">
        <li>Samples (tissue or RNA samples) are prepared using our PSeq patiented chemistry.</li>
        <li>Samples are sequenced, and data assembled using our proprietary software.</li>
        <li>Data files and analysis are prepared and delivered per <b>your specifications.</b></li>
        <li>Most orders can be turned around within <b>10 days</b> of receipt of sample.</li>
      </ul>
      
      <div class="buttons-container mt-5">
        <div class="button-container">
          <LearnMoreButton 
            link="/contact#place-order" 
            label="Order now!" 
            ariaLabel="Place a PSeq RUO order." 
            fullWidth={true}
          />
        </div>
      </div>
    </CalloutBox>
  )}
</section>

<style>
  .section-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }

  .pseq-service-container {
    background-color: rgb(236, 236, 236);
    padding: 5px 1.5rem;
    border-radius: 8px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    max-width: 20rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  @media (max-width: 1100px) {
    .section-container {
      grid-template-columns: 1fr;
    }
  }  

  @media (max-width: 420px) {
    h3 {
      font-size: 1.25rem;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      padding: 0;
      gap: 8px;
    }
    .button-container {
      max-width: 10rem;
    }    
  }  

  ul {
    margin: 1.5rem 0;    
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    list-style-type: disc;
    font-size: 1.1rem;
  }  

  ul.service-includes {
    color: black;
    gap: 1.2rem;    
  }   
</style>