---
import CalloutBox from '@/components/CalloutBox.astro'
import LearnMoreButton from '../LearnMoreButton.astro'
import HorizonalList from '../HorizontalList.astro'
import HorizonalListItem from '../HorizontalListItem.astro'
---
<section class="mb-5">
  <div id="why-pseq">
    <h2>Phaeno PSeq<sup class="text-[0.6em] relative -top-2 ml-0.5">™</sup></h2>
  </div>  
  <h3>Phaeno RNA sequencing - PSeq - captures the full profile of all expressed protein-coding RNAs.</h3>  
  <p>
    Phaeno delivers fully automated, full-length whole transcriptome sequencing using standard next-generation sequencing (NGS) 
    instruments - no proprietary hardware required. This uniquely enables researchers to capture complete RNA molecules across the entire 
    transcriptome while eliminating the need for specialized equipment or complex manual bioinformatics.
  </p>

  <h3>PSeq can neutralize major multi-omics pain points.</h3>
  <HorizonalList columns={[1, 1, 2, 3]}>
    <HorizonalListItem><b>Is the most efficient “first-line” discovery layer.</b></HorizonalListItem>
    <HorizonalListItem>Addresses the biggest sources of transcript → protein mismatch.</HorizonalListItem>
    <HorizonalListItem>Materially improves proteomic discovery and inference.</HorizonalListItem>
    <HorizonalListItem>Captures regulatory chemistry that shapes translation - without adding new assays.</HorizonalListItem>
    <HorizonalListItem>Collapses multiple biological questions into one sample prep.</HorizonalListItem>
    <HorizonalListItem>Reduces error compounding and analytical fragility.</HorizonalListItem>
  </HorizonalList>
  <p>PSeq does not:</p>
  <ul class="gap-1">
    <li><i>fully replace</i> proteomics for PTMs, localization, or absolute copy numbers;</li>
    <li>eliminate the value of chromatin assays;</li>
    <li>make multi-omics optional.</li>
  </ul>

  <h3 class="py-7 text-3xl font-bold leading-snug">
    PSeq makes the transcriptome mechanistically informative - resolving isoforms, UTRs, alternative polyadenylation (APA), many PTMs, alleles, and fusions in one assay - so 
    we get proteome-relevant insight without the cost and fragility of a full multi-omics stack.
  </h3>

  <!-- <h4>Phaeno and PSeq are ready for the <span class="font-extrabold italic">AI revolution</span>.</h4>
  <p>PSeq's complete capture of every RNA molecule within a sample results in enormous amounts of information. Analyzing that volume of information is challenging. 
  <b>Phaeno has already thought of that.</b></p> -->

  <div class="flex justify-center w-full">
    <div class="max-w-xl mb-4">
      <CalloutBox 
        bgColor="#545458" 
      >
        <h3 class="text-white">Phaeno is built for the next revolution in biology, facilitating the mapping of the <i>functional</i> genome.</h3>
      </CalloutBox>
    </div>
  </div>
  <LearnMoreButton 
    link="/technology"
    ariaLabel="Learn more about Phaeno's technology and how it addess the shortcoming of genomic analysis" 
  />    
  {(import.meta.env.PUBLIC_HIDE_PSEQ_AVAIL_NOW === "false") && (
    <br />
    <CalloutBox bgColor="var(--home-available-now-bg)">
      <h3 class="mb-3">
        <b>PSeq is available NOW as an RUO<sup>*</sup> service</b>
        <p class="mt-2 text-sm"><sup>*</sup><i>RUO - Research use only</i></p>
      </h3>
      <div class="text-black font-bold text-lg mb-1">Service Includes:</div>
      <ul class="service-includes gap-2">
        <li>Samples (tissue or RNA samples) are prepared using our PSeq patiented chemistry.</li>
        <li>Samples are sequenced, and data assembled using our proprietary software.</li>
        <li>Data files and analysis are prepared and delivered per <b>your specifications.</b></li>
        <li>Most samples can be turned around within <b>10 days</b> of receipt.</li>
      </ul>
      
      <div class="buttons-container mt-5">
        <div class="button-container">
          <LearnMoreButton 
            link="/home/ruo-service"
            ariaLabel="Get more details about Phaeno's PSeq RUO service." 
            fullWidth={true}
          />
        </div>
        <div class="button-container">
          <LearnMoreButton 
            link="/home/ruo-service/place-order" 
            label="Order NOW!" 
            ariaLabel="Place a PSeq RUO order." 
            fullWidth={true}
          />
        </div>
      </div>
    </CalloutBox>
  )}
</section>

<style>
  .section-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }

  .pseq-service-container {
    background-color: rgb(236, 236, 236);
    padding: 5px 1.5rem;
    border-radius: 8px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    max-width: 20rem;
  }

  @media (max-width: 1100px) {
    .section-container {
      grid-template-columns: 1fr;
    }
  }  

  @media (max-width: 420px) {
    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      padding: 0;
      gap: 8px;
    }
    .button-container {
      max-width: 10rem;
    }    
  }  

  ul {
    margin: 1.5rem 0;    
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    list-style-type: disc;
    font-size: 1.1rem;
  }  

  ul.service-includes {
    color: black;
    gap: 1.2rem;    
  }   
</style>