---
import Section from '@/components/Section.astro';
import LearnMoreButton from '../LearnMoreButton.astro';
import BlockQuote from '../BlockQuote.astro';
---

<Section shade="var(--home-section-light-bg)">
  <div id="problem">
    <h2>Available sequencing tools are inadequate for understanding complex diseases.</h2>
  </div>
  <p>
    To date, most sequencing efforts have been optimized for understanding and treating Mendelian diseases and rare genetic disorders. 
    By contrast, our progress in unraveling the biology of complex diseases has been far more limited. What we urgently need are tools 
    that can map the <i>functional</i> genome - not just the sequence of DNA, but how it is expressed and regulated in living cells.
  </p>
  <p>
    Every species is composed of tens of thousands of unique proteins. In humans, for example, a repertoire of more than 100,000 distinct protein 
    isoforms is generated from roughly 20,000 protein-coding genes. These isoforms account for much of the phenotypic variability observed between
    cell types, among individuals, and across species. Yet we currently lack the tools to comprehensively map the full diversity of isoforms produced
    by each gene within the context of each cell. Equally underexplored are post-translational modifications (PTMs), which add another critical layer
    of functional diversity to the proteome.
  </p>
  <h3 class="py-7 text-3xl font-bold leading-snug">Better tools are needed to map the <i>functional</i> genome. We’re building those tools.</h3>
  <br />
  <!-- <BlockQuote 
    text="It’s an astounding thing that we have cracked open the human genome and can look at the entire complement of common genetic variants, and what do we find? Almost nothing. That is absolutely beyond belief."
    imageUrl="/images/goldstein.webp"
    imageAlt="Headshot of David Goldstein"
  >
    <b>David Goldstein</b>, Nobel Laureate<br />Duke University, 2012
  </BlockQuote>  
  <br />
  <BlockQuote 
    text="The $138 million [International] HapMap (haplotype mapping) Project has been a magnificent failure."
    imageUrl="/images/botstein.webp"
    imageAlt="Headshot of David Botstein"
  >
    <b>David Botstein</b><br />Princeton University, 2010
  </BlockQuote>    
  <br /> -->
  <LearnMoreButton 
    link="/problem" 
    ariaLabel="Learn more about why the genomic revolution has stalled and how current anaytic methods are inadequate." 
  />  
</Section>

<style>
  .section-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 1100px) {
    .section-container {
      grid-template-columns: 1fr;
    }
  }  
    
  ul {
    font-size: 1.25rem;
    list-style-type: circle;
    padding-left: 1rem;
    color: text-white;
    list-style-type: disc;
    font-size: 1.1rem;
  }
</style>