---
import TopPageBanner1 from "@/components/TopPageBanner-1.astro";
import Layout from "@/layouts/Layout.astro";
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import WhyRna from '@/components/home-page-sections/Why-Rna.astro';
import BlockQuote from '@/components/BlockQuote.astro';
import HorizonalList from '@/components/HorizontalList.astro';
import HorizonalListItem from '@/components/HorizontalListItem.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Problem | Phaeno"
    description="Phaeno is revolutionizing RNA sequencing with full-length, high-fidelity reads. Discover our platform and team."
    documentType="Web Page"
  />      
  <main>
    <TopPageBanner1 title="Problem" />
    <section>
      <p class="m-0 p-0">
        <a href="/#problem">Home</a>&nbsp;&gt;&nbsp;Problem
      </p>
      <h2>We lack the tools required to map genome to phenotype (functional genome)</h2>
      <p>                
        The genome encodes proteins – and information flows from DNA to RNA to Protein in a defined manner. The
        discoveries that information can flow backward, that is from RNA to DNA (reverse transcriptions), and that some
        diseases (prion disorders) can pass from protein-to-protein with changes in DNA – have left the core ideas in
        the Central Dogma mostly undisturbed.
      </p>

      <BlockQuote 
        text="The vast majority of [common gene] variants have shed no light on the biology of diseases."
        imageUrl="/images/bodmer.webp"
        imageAlt="Headshot of Sir Walter Bodmer"
      >
        <b>Sir Walter Bodmer</b><br />Cambridge University, 2010
      </BlockQuote>

      <p>
        We now know that genes that are the source of proteins possess incomplete information. The full phenotypic
        potential of the human genome only arises after complex steps in RNA process – including alternative RNA
        splicing, RNA editing and other processes. These can produce multiple gene products with different molecular
        functions.
      </p>

      <p>
        <i>Consequently</i>, the information as to which normal or abnormal protein is expressed, and where, when and at
        what levels does not exist in the gene. The cell chooses what to make from each gene, often from 10,000-12,000
        genes during the replacement cycle of each type of cell.
      </p>

      <p>
        This striking discovery limits the value of genome sequencing or exome sequencing in diagnosing and treating
        genetic disease. This has powerful consequences for how to think about health and disease, and even fundamental
        concepts about the evolution of complex phenotypes.
      </p>
     
      <h3>Current analytical methods are inadequate</h3>
    <h4 class="my-3">Existing sequencing tools are cumbersome to use, costly and provide only a fraction of the information PSeq provides.</h4>
    <HorizonalList columns={[1, 1, 2, 3]}>
      <HorizonalListItem>Illumina's RNA-Seq results are only a stocastic approximation of the RNA present.</HorizonalListItem>
      <HorizonalListItem>Combined third-generation long sequencing and NGS short-read data polishing is time consuming, redundant and inefficient.</HorizonalListItem>
      <HorizonalListItem>Other RNA sequencing solutions are prohibitively expensive, plagued with complex workflows, or have high rates of errors.</HorizonalListItem>
    </HorizonalList>      
      <!-- <p>Thus,</p>
      <ul>
        <li>
          Genetic diseases can emerge without any structural changes in the locatable DNA gene. For example, a healthy
          gene for a tumor suppressor can produce a splice variant that is a tumor promoter. Failing to identify the
          anomalous protein results in failing to detect the cause of disease or identify a clear drug target protein
          isoform.
        </li>
        <li>Not knowing what a “gene” really is makes germ-line gene editing of early embryos a high stakes gamble.</li>
        <li>
          A gene with a mutation linked to a cancer or other genetic disease, may be expressed in some tissues without
          disease – rendering disease-linked candidate gene variants inconclusive biomarkers.
        </li>
        <li>Drugs effective with a causal protein isoform may disrupt normal physiology in off-target tissues.</li>
      </ul>  -->

      <WhyRna />
    </section>
  </main>
</Layout>