---
const copyYear = new Date().getFullYear()
import { FaExternalLinkAlt } from "react-icons/fa";
---

<footer id="site-footer">
  <div class="footer-container">
    <div class="top-container">
      <div class="top-container-item">
        <div class="column-header">Phaeno Inc.</div>
        <div class="text-sm">5270 California Avenue<br />Suite 300<br />Irvine, CA 92617</div>
        <div class="text-sm"><a href="email:info@phenobiotech.com">info@phaenobiotech.com</a></div>
      </div>
      <div class="top-container-item">
        <div class="column-header">Resources</div>
        <div><a href="/about/job-openings">Job Openings</a></div>
        <div><a href="/investors">Investors</a></div>
        <div class="flex justify-center">
          <div class="w-30 border-t border-black/20 my-2"></div>
        </div> 
        <div><a href="/privacy">Privacy Policy</a></div>  
        <div><a href="/data-policies">Data Policies</a></div>  
        <div>
          <a 
            class="flex gap-2 justify-center items-center"
            target="_blank" 
            href="https://portal.cadexgenomics.com/"
          >
            <FaExternalLinkAlt size={12} />
            <span>Customer Portal</span> 
          </a>
        </div>
      </div>
      <div class="top-container-item">
        <div class="column-header">Site Map</div>
        <div><a href="/">Home</a></div>
        <div><a href="/technology">Technology</a></div>
        <div><a href="/why-rna">Why RNA?</a></div>
        <div><a href="/multi-omics">PSeq & Multi-omics</a></div>
        <div><a href="/about/about-us">About Us</a></div>
        <div><a href="/contact">Contact Us</a></div>
      </div>
    </div>
    <hr class="border-t my-4" />
    <div class="bottom-container">
      <div class="text-xs">Copyright &copy;{ copyYear } Phaeno Inc.</div>
    </div> 
  </div>
</footer>

<style>
footer {
  background-color: #E9EFEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.footer-container {
  padding: 10px;
  max-width: 85rem;
  width: 100%;
}

.column-header {
  font-weight: 700;
  text-transform: uppercase;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
  font-size: 13px;
}

.top-container-item {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  flex: 1 1 22%; /* 4 columns with space between */
  min-width: 180px; /* prevents squishing on smaller screens */
  max-width: 225px;
  padding: 10px;
  text-align: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;
}

@media (max-width:  600px) {
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 13px;
    width: 100%;
  }
}
</style>