---
import Layout from '@/layouts/Layout.astro';
import { Content } from '@/content/tou.md';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import TopPageBanner from '@/components/TopPageBanner-1.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Terms of Use | Phaeno"
    description="See Phaeno's Terms of Use."
    documentType="Web Page"    
  />    
  <main>
    <TopPageBanner title="Terms of use" />    
    <section>
      <Content />
    </section>
  </main>
</Layout>