---
import Layout from '@/layouts/Layout.astro';
import { Content } from '@/content/tou.md';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>
  <SEOMeta 
    slot="head"
    title="Terms of Use | Phaeno"
    description="See Phaeno's Terms of Use."
  />    
  <main>
    <section>
      <h1 class="mb-6">Terms of use</h1>
      <Content />
    </section>
  </main>
</Layout>