<div class="horizontal-list-item">
  <slot />
</div>

<style>
.horizontal-list-item {
  background-color: #f1f5f9;
  border-radius: 12px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border: 1px solid #90a1b9;
}
</style>
