---
import { Image } from "astro:assets";
const rnaSeq = "AGACTTCCCGGCTTCTCCCCAAGAAATACTGCGTCACAAGGTTTTACCTCTCATCACACCTTCTTCGAGATGCTCTTGGTCTTTTGGCATGTAAGATGGCTCAGACTTCCCGGCTTCTCCCCAAGAAATACTGCGTCACAAGGTTTTACCTCTCATCACACCTTCTTCGAGATGCTCTTGGTCTTTTGGCATGTAAGATGGCTC";
---
<h4 class="mb-3">PSeq versus RNA-Seq</h4>
<div class="section-container">
  <div class="section-title">Gene</div>
  <div class="w-full h-8 flex border border-[#155dfc]">
    <div class="exon w-1"></div>
    <div class="intron w-10"></div>
    <div class="exon w-3"></div>
    <div class="intron w-full"></div>
    <div class="exon w-5"></div>
    <div class="intron w-30"></div>
    <div class="exon w-16"></div>
    <div class="intron w-20"></div>
    <div class="exon w-1"></div>
    <div class="intron w-30"></div>
    <div class="exon w-0.5"></div>    
    <div class="intron w-10"></div>
    <div class="exon w-8"></div>
  </div>
</div>
<br />
<div class="section-container">
  <div class="section-title">
    <div>Transcripts</div>
    <div class="font-thin text-sm italic">splice variants</div>
  </div>
  <div class="w-full flex justify-start gap-15 items-center">
    <div class="w-14 ml-10"><Image src="/images/rna-1.png" height={50} width={50} alt="RNA" /></div>
    <div class="w-14"><Image src="/images/rna-1.png" height={50} width={50} alt="RNA" /></div>
    <div class="w-14"><Image src="/images/rna-2.png" height={50} width={50} alt="RNA" /></div>
  </div>
</div>
<br />
<div class="section-container">
  <div class="section-title">Sequencing Technologies</div>
  <div class="flex justify-around w-full">
    <div class="border-r-2 min-w-1/2 border-b border-b-gray-200 border-b-dashed">
      <div class="text-center font-bold text-xl">RNA Seq</div>
      <div class="p-5"> 
        <ul>
          <li>Data gaps</li>
          <li>Data left unassembled</li>
          <li>Isoforms left unresolved</li>
        </ul>
      </div>
    </div>
    <div class="min-w-1/2 border-b border-b-gray-200 border-b-dashed">
      <div class="text-center font-bold text-xl">PSeq</div>
      <div class="flex items-center">
        <div class="bg-white border-2 border-black rounded-full px-1 ml-[-15px] text-center">vs</div>
        <div class="p-5">
          <ul>
            <li>No data gaps</li>
            <li>Data are definitively and accurately assembled</li>
            <li>Isoforms are resolved</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-container">  
  <div class="section-sub-title">Results</div>
  <div class="flex justify-around w-full">
    <div class="border-r-2 min-w-1/2">
      <div class="pr-1 pt-2"> 
        <div class="results-title">50 to 300bp unassembled fragments</div>
        <div class="container mx-auto p-5">
          <div class="rna-seq-results-container">
            {Array.from({ length: 20 }, (_, i) => (            
              <div class="rna-seq-result flex flex-col items-center gap-0.5">
                <div>{rnaSeq.substring(1*i, 1*i + 5)}</div>
                <Image src={`/images/rna-frag-${i + 1}.png`} height={15} width={15} alt="RNA splice variant 1" />
              </div>
            ))}
          </div>
        </div>        
      </div>
    </div>
    <div class="min-w-1/2">
      <div class="pl-1 pt-2">
        <div class="results-title">Fully assembled individual RNAs</div>
        <div class="flex items-center">
          <div class="bg-white border-2 border-black rounded-full px-1 ml-[-20px] text-center">vs</div>
          <div class="font-mono gap-8 flex flex-col pl-5">
            <div class="flex items-center justify-start mt-6">
              <div class="flex-shrink-0 mr-3"><Image src="/images/rna-1.png" height={30} width={30} alt="RNA splice variant 1" /></div>
              <div class="text-left wrap-anywhere">AGACTTCCCGGCTTCTCCCCAAGAAATACTGCGTCACAAGGTTTTACCTCT...</div>
            </div>
            <div class="flex items-center justify-start">
              <div class="flex-shrink-0 mr-3"><Image src="/images/rna-1.png" height={30} width={30} alt="RNA splice variant 1" /></div>
              <div class="text-left wrap-anywhere">AGACTTCCCGGCTTCTCCCCAAGAAATACTGCGTCACAAGGTTTTACCTCT...</div>
            </div>            
            <div class="flex items-center justify-start">
              <div class="flex-shrink-0 mr-3"><Image src="/images/rna-2.png" height={30} width={30} alt="RNA splice variant 2" /></div>
              <div class="text-left wrap-anywhere">CATCACACCTTCTTCGAGATGCTCTTGGTCTTTTGGCATGTAAGATGGCTC...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<style>
.section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-title,
.section-sub-title {
  width: 8rem;
  font-weight: 700;
}

.results-title {
  margin-bottom: .75rem;
  text-align: center;
  background-color: black;
  color: white;
  font-size: .875rem;
  padding: .25rem;
}

.rna-seq-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.rna-seq-result {
  background-color: #f3f4f6;
  padding: .2rem;
  border-radius: 0.25rem;
}


.intron {
  height: 100%;
  background-color: white;
}

.exon {
  height: 100%;
  background-color: #155dfc;
}

@media (max-width: 775px) {
  .section-container {
    display: block;
  }

  .section-title {
    width: 100%;
    background-color: #799B47;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 1rem;
  } 

  .section-sub-title {
    width: 100%;
    background-color: rgb(209, 209, 209);
    color: white;
    text-align: center;
    padding: 3px;
    color: black;
  }     
  
  .results-title {
    font-size: .7rem;
    padding: .15rem;
  }  

  .rna-seq-results-container {
    gap: .5rem;
  }

  .rna-seq-result {
    background-color: #f3f4f6;
    padding: .15rem;
    font-size: smaller;
  }  
}  
</style>