---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import MediaCollection from '@/components/MediaCollection.astro'
import MediaCard from '@/components/MediaCard.astro'
import TopPageBanner from '@/components/TopPageBanner-3.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import MediaSearch from '@/components/MediaSearch.astro'

const papers = await getCollection('white_papers')
---

<title>White Papers | Phaeno</title>
<meta name="description" content="Read technical White Papers published by Phaeno." />

<Layout>
  <SEOMeta 
    slot="head"
    title="White Papers | Phaeno"
    description="Learn about Phaeno's mission to transform molecular diagnostics through innovative RNA sequencing technology and expert leadership."
    documentType="List"
  />    
  <main>
    <TopPageBanner title="White Papers" />
    <section>
      {papers.length ? <MediaSearch placeholder="Search title or author" /> : null }
      <MediaCollection>
        {papers.map(paper => (
          <MediaCard 
            searchString={`${paper.data.title} ${paper.data.authors.join(' ')}`.toLowerCase()}
            title={paper.data.title} 
            image={paper.data.image} 
            link={`/media/white-papers/${paper.slug}`}
          >
            <div>By {paper.data.authors.join(', ')}</div>
            <div>{new Date(paper.data.date).toLocaleDateString('en-US')}</div>
          </MediaCard>
        ))}      
      </MediaCollection>
      {!papers.length?<div class="w-full mt-10 flex justify-center items-center"><div>No white papers, check back later.</div></div>:null}
      <br />
    </section>
  </main>
</Layout>