---
import type { IContent } from "./FooterSection.astro";

interface IProps {
  contentItem: IContent;
}

const { contentItem } = Astro.props as IProps
---

<div class="text-sm">
  <a href={contentItem.value}>
    {contentItem.label}
  </a>
</div>

