---
import { Content } from '@/content/privacy.md';
import Layout from '@/layouts/Layout.astro';
import TopPageBanner from '@/components/TopPageBanner-1.astro';
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
---
<Layout>   
  <SEOMeta 
    slot="head"
    title="Privacy Policies | Phaeno"
    description="Read Phaeno's privacy policies."
    documentType="Web Page"
  />    
  <main>
    <TopPageBanner title="Phaeno Privacy policy" />
    <section>
      <h4 class="font-bold" id="privacy-policy" data-phaeno-search="Phaeno Privacy Policy">Phaeno Privacy Policy</h4>
      <Content />
    </section>
  </main>
</Layout>